@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
/* font-family: 'DM Sans', sans-serif; */

/* base */

:root {
  --background--color--black: #1F1F1F;
  --color--border: #2541b2;
  --text--color--white: #ffffff;
  --text--color-link: #1768ac;

  /* Fonts */

  --font--text--details: 16px;
  --font--text--header:46px;
  --font--text--home: 88px;
  --font--text--regular: 21px;
  --font--text--subtitle:24px;
  --font--text--title: 36px;
  --font--text:'DM Sans', sans-serif;
}

body{
  background-color: var(--background--color--black);
  color: var(--text--color--white); 
  font-family: var(--font--text);
}

/* Header Styles */
.header{
  background-color: var(--background--color--white);
  display: flex;
  justify-content: space-between;
  padding-left:5rem;
  padding-right: 5rem;
  position:fixed;
  top:0;
  width:90%;
  z-index: 98;
}
.header__title a{
  color: var(--text--color--white);
  text-decoration: none;
}
.header__title a h1{
  font-size: var(--font--text--title);
}

.header__links ul{
  display: flex;
  list-style: none;
}

.header__links ul li{
  font-size: var(--font--text--regular);
  padding: 1rem;
}

.header__links a{
  color: var(--text--color--white);
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.header__links a:hover{
  color: var(--text--color-link);
}
.header__toggle{
  background: none;
  border: none;
  color: var(--text--color--white);
  display: none;
  font-size: var(--font--text--title);
}

.header__links ul li button{
  background: none;
  border: none;
  color: var(--text--color--white);
  font-size: var(--font--text--regular);
  height:28px;
  transition: all 0.4s ease-in;
  width: 32px;
}
.header__links ul li button:hover{
  color: var(--text--color-link);
  cursor: pointer;
}

.lateral__button:hover{
  background-color:var(--color--border);
}

@media (hover: hover) and (pointer: fine) {
  .header__toggle{
    background: none;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 788px) {
  .header{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .header__links {
    align-items: center;  
    background-color: #101010;
    height: calc(100% - 80px);
    left: 100%;
    opacity: 0.97;
    position: fixed;
    top: 80px;
    transition: left 0.5s ease-in;
    width: 100%;
  }
  .header__links ul{
    align-items: center;
    flex-direction: column;
  }
  .header__links ul li{
    margin-top: 1rem;
  }
  .header__links ul li a{
    font-size: var(--font--text--subtitle);
  }
  .header__toggle{
    display: block;
  }
  .header__links-visible{
    left: 0;
  }
}  
@media only screen and (max-width: 600px) {
  .header{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Container */
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
/* Home */

.home{
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  margin-top: 7rem;
  padding-top: 8rem;
}
.home h1{
  font-size: var(--font--text--home);
}
.home p{
  font-size: var(--font--text--regular);
  line-height: 1.6rem;
  text-align: justify;
}
.home__button{
  font-size: var(--font--text--regular);
}
.home__button button{
  background: none;
  border-radius: 99999px;
  border:  3px solid var(--color--border);
  padding: 10px 18px;
  transition: 0.5s all ease-in;
}
.home__button button a{
  color: var(--text--color--white);
  text-decoration: none;
}
.home__button button:hover{
 background: var(--text--color-link); 
 cursor: pointer;
}
.home__img{
  margin-left: 3rem;
}
.home__img img{
  border-radius: 150px;
  height: 300px;
  object-fit: cover;
  width: 300px;
}

@media only screen and (max-width: 1200px) {
  .home h1{
    font-size: var(--font--text--header);
  }
 
}
@media only screen and (max-width: 992px) {
  .home__img{
    display: none;
  }
}
  
@media only screen and (max-width: 815px) {
  .home h1{
    font-size: var(--font--text--header);
  }
  .home p{
    font-size: 18px;
    line-height: 1.6rem;
    text-align: justify;
  }
  
} 

@media only screen and (max-width: 600px) {
  .home{
    margin-top: 5rem;
    line-height: 0.7rem;
   }
  .home h1{
    font-size: var(--font--text--title);
  }
  .home p{
    font-size: var(--font--text--details);
    line-height: 1.6rem;
    text-align: justify;
  }
  .home__button{
    font-size: var(--font--text--details);
  }
}

/* Cards */
.habilidades{
  padding-top: 15rem;
}
.habilidades h1{
  font-size:var(--font--text--title);
  text-align: center;
}
.habilidades__cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:2rem;
  text-align: center;
}
.card{
  border-radius: 15px;
  border: 2px solid var(--color--border);
  overflow: hidden;
  padding: 1rem;
  transition: 0.5s all ease-in;
  width: 45%;
}
.card h3{
  font-size: var(--font--text--title  );
}
.card:hover{
  background-color: var(--text--color-link);
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skill{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px;
}
.skill i {
  font-size: var(--font--text--title);
}
.skill h3{
  margin: 5px;
  font-size: var(--font--text--regular);
}

@media only screen and (max-width: 1200px) {
  .card{
    width: 45%;
  }  
  .skill{
    padding: 2px;
    margin:5px;
  }
  .skill h3{
    margin: 5px;
  }
}
@media only screen and (max-width: 870px) {
  .habilidades__cards{ 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    margin: 0.5rem;
    width: 80%;
  }
  .card h3{
    font-size: var(--font--text--title);
  }
  .card:hover{
    background-color: var(--text--color-link);
  }
  
  .skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .skill{
    display:flex;
    flex-wrap: wrap;
    line-height: 0;
    margin: 1rem;
    padding: 5px;
  }
  .skill i {
    font-size: var(--font--text--regular);
  }
  .skill h3{
    margin: 5px;
    font-size: var(--font--text--regular);
  }
}
@media only screen and (max-width: 768px) {

  .card{
    justify-items: center;
    width: 100%;
  }  
  .skill{
    margin:5px;
    padding: 0.4rem;
  }
  .skill h3{
    margin: 5px;
  }
} 
@media only screen and (max-width: 600px) {
  .skills{
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
  }

}
.proyecto{
  padding-top: 10rem;
}
.proyecto h1{
  font-size:var(--font--text--title);
  text-align: center;
}
.container__proyectos{
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(3,1fr);
 
}

.proyect{
  border-radius: 5px;
  border: 2px solid var(--color--border);
  height: 450px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transition: 0.5s all ease-in;
  width: 80%;
}
.proyect img{
  /* border-radius: 10px ; */
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.proyect h4{
  font-size: var(--font--text--subtitle);
}
.proyect__buttons{
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.proyect__buttons a{
  border-radius: 99999px;
  border: 2px solid var(--color--border);
  bottom: 0;
  color: var(--text--color--white);
  font-size: var(--font--text--details);
  padding: 6px 15px;
  position: relative;
  text-decoration: none;
  transition: 0.5s all ease-in;
}
.proyect__buttons a:hover{
  background-color: var(--text--color-link);
}
@media only screen and (max-width: 992px) {
  .proyect h4{
    font-size: var(--font--text--details);
  }
}
@media only screen and (max-width: 768px) {
  .container__proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .proyect__buttons a{
    padding: 10px 15px;
  }
} 
@media only screen and (max-width: 600px) {
  .container__proyectos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .proyect__buttons a{
    padding: 10px 15px;
  }
}
.contact{
  padding-top: 5  rem;
  text-align: center;
}
.contact h1{
  font-size:var(--font--text--title);
  text-align: center;
}
.contact__cards{
  align-content: center;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact__card{
  line-height: 2rem;
  padding: 2rem;
  width: 20%;
}
.contact__card i{
  font-size: var(--font--text--title);
}
.contact__card h3{
  font-size: var(--font--text--subtitle);
}
.contact__card a{
  border-radius: 99999px;
  border: 2px solid var(--text--color-link);
  color: var(--text--color--white);
  font-size: var(--font--text--regular);
  padding: 6px 15px;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.contact__card a:hover{
  background-color: var(--text--color-link);
}
@media only screen and (max-width: 768px) {
  .contact__card{
    width: 15%;
  }
} 
@media only screen and (max-width: 600px) {
  .contact__cards{
    flex-direction: column;
    align-items: center;
  }
  .contact__card{
    margin: 0.5rem;
    width: 50%;
    line-height: 1rem;
  }
  .contact__card i{
    font-size: var(--font--text--title);
  }
  .contact__card h3{
    font-size: var(--font--text--subtitle);
  }
  .contact__card a{
    border-radius: 1rem;
    border: 2px solid var(--text--color-link);
    color: var(--text--color--white);
    font-size: var(--font--text--regular);
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease-in;
  }
} 